@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 177 26% 25%;

    --card: 0 0% 100%;
    --card-foreground: 177 26% 25%;

    --popover: 0 0% 100%;
    --popover-foreground: 177 26% 25%;

    --primary: 177 26% 25%;
    --primary-foreground: 0 0% 100%;

    --secondary: 168 29% 86%;
    --secondary-foreground: 177 26% 25%;

    --muted: 168 29% 86%;
    --muted-foreground: 177 26% 35%;

    --accent: 169 50% 64%;
    --accent-foreground: 177 26% 25%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 168 29% 86%;
    --input: 168 29% 86%;
    --ring: 169 50% 64%;

    --radius: 0.5rem;

    --sidebar-background: 168 29% 86%;
    --sidebar-foreground: 177 26% 25%;
    --sidebar-primary: 177 26% 25%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 169 50% 64%;
    --sidebar-accent-foreground: 177 26% 25%;
    --sidebar-border: 168 29% 80%;
    --sidebar-ring: 169 50% 64%;
  }

  .dark {
    --background: 177 26% 15%;
    --foreground: 168 29% 86%;

    --card: 177 26% 18%;
    --card-foreground: 168 29% 86%;

    --popover: 177 26% 18%;
    --popover-foreground: 168 29% 86%;

    --primary: 169 50% 64%;
    --primary-foreground: 177 26% 15%;

    --secondary: 177 26% 20%;
    --secondary-foreground: 168 29% 86%;

    --muted: 177 26% 20%;
    --muted-foreground: 168 29% 70%;

    --accent: 169 50% 64%;
    --accent-foreground: 177 26% 15%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 168 29% 86%;

    --border: 177 26% 20%;
    --input: 177 26% 20%;
    --ring: 169 50% 64%;
    --sidebar-background: 177 26% 15%;
    --sidebar-foreground: 168 29% 86%;
    --sidebar-primary: 169 50% 64%;
    --sidebar-primary-foreground: 177 26% 15%;
    --sidebar-accent: 177 26% 20%;
    --sidebar-accent-foreground: 168 29% 86%;
    --sidebar-border: 177 26% 20%;
    --sidebar-ring: 169 50% 64%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
